*{
  box-sizing: border-box;
  font-family : "verdana"
}
html,body{
  margin: 0px;
}

#controls{
  height: 68px;
  width: 700px;
  background-color : #5F7E87;
  color : white;
  padding: 10px;
}


#listOfCandidates{
    display: inline-block;
    float: left;
    width:25%;
}
#zchart{
    display: inline-block;
    width:75%;
}

.hoverme:hover
{
background-color: #00FF00;
}
.clicked
{
background-color:green;
}
